/node_modules
.env
/node_modules/*
/node_modules/.bin/*
/node_modules/*
src/db_mongo/*.js
/.checkpoint.json
/output/*.json
/output/

.checkpoint.json


/Volumes/work/smartSpaceScrapping/.checkpoint.json

.checkpoint.json